@import "common";

.tooltip-large{
  max-width: 800px;
}

.tooltip-dark{
  @include neat-tooltip(#555, 8px, 300px);
  color: #fff;
}

.tooltip-pill{
  @extend .tooltip-dark;
  border-radius: 9999px;
}

.demo7{
  background: #DDF;
  widht: 200px;
}
