@import "common";

.tooltip-large{
  max-width: 800px;
}

.tooltip-dark{
  @include neat-tooltip(#555, 8px, 300px);
  color: #fff;
}

.tooltip-pill{
  @extend .tooltip-dark;
  border-radius: 9999px;
}

.demo7{
  background: #DDF;
  widht: 200px;
}

.demo8{
  height: 100px;
  overflow: auto;
  background: #DDF;
  p{
    padding: 20px 0 100px 10px;
  }
}
