.tooltip-frame{
  position: absolute;
  z-index: 100;
}

@mixin neat-tooltip($bg-color, $tip-size, $max-width){
    background: $bg-color;

    max-width: $max-width;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;

    .tip{
      border-style: solid;
      position: absolute;
      margin-left: -$tip-size;
      border-width: $tip-size+1;
    }

    &.tooltip-bottom{
      margin-top: $tip-size;
      .tip{
        border-color: transparent transparent $bg-color transparent;
        border-width: 0 $tip-size+1 $tip-size+1 $tip-size+1;
        top: -$tip-size;
      }
    }

    &.tooltip-top{
      margin-top: -$tip-size;
      .tip{
        border-color: $bg-color transparent transparent transparent;
        border-width: $tip-size+1 $tip-size+1 0 $tip-size+1;
        bottom: -$tip-size;
      }
    }
}

.has-tooltip{
  position: relative;
}


//Default style
.tooltip-frame{
  @include neat-tooltip(#FFF, 8px, 300px);
}
